<div id="footerWrp" class="footerWrp">
    <div id="FooterRegion">
        <div class="footWrp">
            <div class="ancFtrWrp">
                <div class="ftrCon textxsml clearfix">
                    <ul id="Ftr_TLWrp" class="ftrLinks ">
                        <li id="Ftr_TL_ContactUs" class="first "><a id="Ftr_TL_ContactUs_Link" href="#">Contact Us</a></li>
                        <li id="Ftr_TL_Blog" class=""><a id="Ftr_TL_Blog_Link" href="#">Demo</a></li>
                        <li id="Ftr_TL_Blog" class=""><a id="Ftr_TL_Blog_Link" href="#">Demo</a></li>
                        <li id="Ftr_TL_Blog" class=""><a id="Ftr_TL_Blog_Link" href="#">Demo</a></li>
                        <li id="Ftr_TL_Blog" class=""><a id="Ftr_TL_Blog_Link" href="#">Demo</a></li>
                    </ul>

                </div>
                <p id="Ftr_LLWrp" class="outer"><span>&copy; </span>&nbsp;|&nbsp;<span><a id="Ftr_LL_CorporateInfo_Link" href="#">Corporate Information</a></span>&nbsp;|&nbsp;<span><a id="Ftr_LL_Privacy_Link" href="#">Privacy</a></span>&nbsp;|&nbsp;<span><a id="Ftr_LL_TermsAndConditions_Link" href="#">Terms and Conditions</a></span>
                </p>
            </div>
        </div>
        <!--<link rel="stylesheet" type="text/css" href="https://a248.e.akamai.net/7/248/7051/v001/origin.c.mfcreative.com/webparts/footer/FooterDefault.css"></link><div class="simpleFoot"><div class="topSec"><ul class="links"><li><a href="http://ancestry.custhelp.com/cgi-bin/ancestry.cfg/php/enduser/ask.php">Contact Us</a> (1-800-ANCESTRY)</li><li><a href="http://blogs.ancestry.com/ancestry/">Ancestry.com Blog</a></li><li><a href="http://www.ancestry.com/home/partner/default.aspx">Affiliates</a></li><li class="last"><a href="http://corporate.ancestry.com/careers/">Careers</a></li></ul></div><div class="btmSec"><ul class="links"><li>&copy; 1997-2011 Ancestry.com</li><li><a href="http://corporate.ancestry.com/">Corporate Information</a></li><li><a href="http://www.ancestry.com/legal/privacy.aspx">Privacy Statement</a></li><li class="last"><a href="http://www.ancestry.com/legal/terms.aspx">Terms and Conditions</a></li></ul></div></div>-->
    </div>
</div>